@import '../colors';
@import '../vars';

.container {
    height: $canvas-container-height;
    width: 50%;
    background-color: $color-dark2;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}


.wrapper {
    margin-top: auto;
    margin-bottom: auto;

    width: 70%;
    height: 70%;
    border: 1px solid rgba(155,155,155,0.3);
    border-radius: 0.5em;
    padding: 30px;
    
}

.headerButtons {
    display:flex;
    flex-direction: row;
    background-color: $color-dark1;
    width: 100%;
    color: $color-light1;


}

.headerButtons div{
    width: 20%;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    padding: 2px;
}

.headerButtons div:hover{
    background-color: #4345;
    width: 20%;
}