@import '../colors';
@import '../vars';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container {
    height: $canvas-container-height;
    width: 50%;
    background-color: $color-dark2;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.nav {
    width: 60%;
    margin-bottom: 10px;
}

.nav button {
    font-family: 'Montserrat', sans-serif;

    width: 33%;
    text-align: center;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 6px;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
}

.wrapper {
    margin-top: auto;
    margin-bottom: auto;

    width: 82%;
    height: 70%;
    border: 1px solid rgba(155,155,155,0.3);
    border-radius: 0.5em;
    padding: 30px;
   
}

.navWrapper {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    
}



.scrollbar  {

    border-bottom: 1px solid rgba(10,10,10,0.5);
    border-left: 1px solid rgba(10,10,10,0.5);
    border-right: 1px solid rgba(10,10,10,0.5);
}

.headerButtons {
    display:flex;
    flex-direction: row;
    background-color: $color-dark1;
    width: 100%;
    color: $color-light1;
}

.headerButtons div{
    font-family: 'Montserrat', sans-serif;
    width: 20%;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    padding: 2px;
}

.headerButtons div:hover{
    background-color: #4345;
    width: 20%;
}