

.container {
    width: 100%;
    height: 95vh;
    background-color: #444;
    display: flex;

}

.topContainer {
    display: flex;
    height: 100%;
    width: 22.5%;
}

.botContainer {
    width: 100%;
    background-color: aqua;
}