@import '../colors';

.container {
    height: 100%;
    width: 100%;
    background-color: $color-dark1;
    border-right: 2px solid $color-black;

    margin-top: 40%;
    margin-left: 20%;
}

.headerButtons {
    display:flex;
    flex-direction: row;
    background-color: $color-dark2;
    width: 100%;
    color: $color-light1;
}

.headerButtons div{
    width: 20%;
    cursor: pointer;
    text-align: center;
}

.headerButtons div:hover{
    background-color: #4345;
    width: 20%;
}